<div id="nav-container">
		<nav>
			<h1>Dashboard App</h1>
			<ul id="main-nav">
				<% if session[:user_id] != nil%>
					<li><a href="/users">Dashboard</a></li>
				<%elsif session[:rep_id] != nil%>
					<li><a href="/reps">Dashboard</a></li>
				<%elsif session[:admin_id] != nil%>
					<li><a href="/administrators/index">Dashboard</a></li>
				<%end%>
					<li><a href="/profile/">Profile</a></li>
			</ul>
			<ul id="session-nav">
				<li><a href="/logout">Log off</a></li>
			</ul>
		</nav>
	</div>

<div class="jumbotron">
	<div class="container">
		<h3 class="alt">Edit Your Profile</h3>
<%if flash[:errors]%>
  <%flash[:errors].each do |error|%>
	<p><%=error%></p>
  <%end%>
<%end%>
<% if flash[:message]%>
  <p><%=flash[:message]%></p>
<%end%>
		<!-- user -->
<%if @user != nil%>
		<div class="user-login-wrapper">
			<div id="info-wrapper">
				<form class="form-group" action="/users/<%=@user.id%>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="_method" value="PATCH">
					<fieldset>
						<legend>Edit Information</legend>
						<label for="">Email: <input name="user[email]" type="text" class="form-control" value="<%=@user.email%>"></label>
						<label for="">First Name: <input name="user[first_name]" type="text" class="form-control" value="<%=@user.first_name%>"></label>
						<label for="">Last Name: <input name="user[last_name]" type="text" class="form-control" value="<%=@user.last_name%>"></label>
				  		<input type="submit" class="btn btn-default submit-button wide-button" value="Update">
				  		<div class='clr'></div>
					</fieldset>
				</form>
			</div>
			<div id="pwd-wrapper">
				<form class="form-group" action="/users/<%=@user.id%>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="_method" value="PATCH">
					<fieldset>
						<legend>Change Password</legend>
						<label for="">Password: <input name="user[password]" type="password" class="form-control" placeholder="Password should be at least 8 characters"></label>
						<label for="">Confirm Password: <input name="user[password_confirmation]" type="password" placeholder="Confirm Password" class="form-control"></label>
						<div class='clr'></div>
				  		<input type="submit" class="btn btn-default submit-button wide-button" value="Update Password">
				  		<div class='clr'></div>
					</fieldset>
				</form>
			</div>
		</div>	
<%end%>
		<!-- rep -->
<%if @rep != nil%>
		<div class="user-login-wrapper">
			<div id="info-wrapper">
				<form class="form-group" action="/reps/<%=@rep.id%>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="_method" value="PATCH">
					<fieldset>
						<legend>Edit Information</legend>
						<label for="">Email: <input name="rep[email]" type="text" class="form-control" value="<%=@rep.email%>"></label>
						<label for="">First Name: <input name="rep[first_name]" type="text" class="form-control" value="<%=@rep.first_name%>"></label>
						<label for="">Last Name: <input name="rep[last_name]" type="text" class="form-control" value="<%=@rep.last_name%>"></label>
						<label for="">Phone Number: <input name="rep[phone]" class="form-control" value="<%=@rep.phone%>"></label>

						<div class='clr'></div>
				  		<input type="submit" class="btn btn-default submit-button wide-button" value=""ave" >
				  		<div class='clr'></div>
					</fieldset>
				</form>
			</div>
			<div id="pwd-wrapper">
				<form class="form-group" action="/reps/<%=@rep.id%>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="_method" value="PATCH">
					<fieldset>
						<legend>Change Password</legend>
						<label for="">Password: <input name="rep[password]" type="password" class="form-control" placeholder="Password should be at least 8 characters"></label>
						<label for="">Confirm Password: <input name="rep[password_confirmation]" type="password" placeholder="Confirm Password" class="form-control"></label>
						<div class='clr'></div>
				  		<input type="submit" class="btn btn-default submit-button wide-button" value="Update Password">
				  		<div class='clr'></div>
					</fieldset>
				</form>
			</div>
		</div>
<%end%>
		<!-- admin -->
<%if @admin != nil%>
		<div class="user-login-wrapper">
			<div id="info-wrapper">
				<form class="form-group" action="/administrators/<%=@admin.id%>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="_method" value="PATCH">
					<fieldset>
						<legend>Edit Information</legend>
						<label for="">Email: <input name="admin[email]" type="text" class="form-control" value="<%=@admin.email%>"></label>
						<label for="">First Name: <input name="admin[first_name]" type="text" class="form-control" value="<%=@admin.first_name%>"></label>
						<label for="">Last Name: <input name="admin[last_name]" type="text" class="form-control" value="<%=@admin.last_name%>"></label>
						<label for="">Phone Number: <input name="phone" class="form-control" value="xxx-xxx-xxxx"></label>

						<div class='clr'></div>
				  		<input type="submit" class="btn btn-default submit-button wide-button">
				  		<div class='clr'></div>
					</fieldset>
				</form>
			</div>
			<div id="pwd-wrapper">
				<form class="form-group" action="/administrators/<%=@admin.id%>" method="POST">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="_method" value="PATCH">
					<fieldset>
						<legend>Change Password</legend>
						<label for="">Password: <input name="admin[password]" type="password" class="form-control" placeholder="Password should be at least 8 characters"></label>
						<label for="">Confirm Password: <input name="admin[password_confirmation]" type="password" placeholder="Confirm Password" class="form-control"></label>
						<div class='clr'></div>
				  		<input type="submit" class="btn btn-default submit-button wide-button" value="Update Password">
				  		<div class='clr'></div>
					</fieldset>
				</form>
			</div>
		</div>
<%end%>
	</div>
</div>
