<h1>Edit Rep</h1>
<form action="" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="rep[first_name]" placeholder="<%=@rep.first_name%>">
	<input type="text" name="rep[last_name]" placeholder="<%=@rep.last_name%>">
	<input type="text" name="rep[email]" placeholder="<%=@rep.email%>">
	<input type="submit">
</form>
<%= form_for @rep, html:{ multipart: true} do |f|%>
  <% if @rep.errors.any? %>
    <div id="error_explanation">
    	<h2><%=pluralize(@rep.errors.count, "error") %> prohibited this rep from being savid:</h2>
    	<ul>
    		<% @rep.errors.full_messages.each do |message| %>
    		  <li><%=message%></li>
			<%end%>
    	</ul>
    </div>
  <%end%>
  <div class="field">
	<%= f.label :image%> <br>
	<%= f.file_field :image%> 
  </div>
  <div class="field">
	<%= f.label :content%> <br>
	<%= f.text_field :first_name%> 
  </div>
  <div class="actions">
	<%= f.submit%>
  </div>
<%end%>