<div id="nav-container">
	<nav>
		<h1>Dashboard App</h1>
		<ul id="main-nav">
		<% if session[:user_id] != nil%>
			<li><a href="/users">Dashboard</a></li>
		<%elsif session[:rep_id] != nil%>
			<li><a href="/reps">Dashboard</a></li>
		<%elsif session[:admin_id] != nil%>
			<li><a href="/administrator/index">Dashboard</a></li>
		<%end%>
			<li><a href="/profile/">Profile</a></li>
		</ul>
		<ul id="session-nav">
			<li><a href="/logout">Log off</a></li>
		</ul>
	</nav>
</div>
<div class="container">
	<h1>Edit User</h1>
	<div class="row">
		<form action="/users/<%=@user.id%>" method="POST" id="add_new_user">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<input type="hidden" name="_method" value="PATCH">
			<input type="text" name="user[first_name]" value="<%=@user.first_name%>">
			<input type="text" name="user[last_name]" value="<%=@user.last_name%>">
			<input type="text" name="user[email]" value="<%=@user.email%>">
			<input type="text" name="user[password]" placeholder="Enter Password">
			<input type="submit" value="Update User">
		</form>
	</div>
</div>