
<div id="nav-container">
		<nav>
			<h1>Dashboard App</h1>
			<ul id="main-nav">
				<li><a href="/administrators">Dashboard</a></li>
				<li><a href="/profile/<%= @admin.id %>">Profile</a></li>
			</ul>
			<ul id="session-nav">
				<li><a href="logout">Log off</a></li>
			</ul>
		</nav>
	</div>


<div class="jumbotron">
	<div class="container">
		<h2 class="salutation">Howdy, <%= @admin.first_name %>!</h2>
		<div class="mytable admins">
		<a href="/administrators/new" class="btn btn-default add">Add New Rep/Admin</a>	
		<div class="clr"></div>
				<table cellspaceing="0" cellpadding="0" width="100%" border="0" align="center">
					<tr>
						<th>Rep Name</th>
						<!-- <th>Company Name</th> -->
						<th>Contact Info</th>
						<th>Total Sales</th>
						<th>Actions</th>
					</tr>

				<% @reps.each do |rep|%>
					<!-- Follow this sample row below for displaying each Reps' clients -->
					<tr><td colspan="6" height="10"></td></tr> 
					<tr style="border-top:1px solid rgba(41,178,123, 0.2);"><td colspan="6" height="11"></td></tr> <!-- Make sure this empty row is included -->
					<tr>
						<td width="230" valign="middle" class="td-division"><a href="/reps/<%= rep.id %>/show"><%= rep.first_name %></a></td>
	                	<!-- <td width="200" valign="middle" class="td-division">Jay Enterprises</td> -->
	                	<td width="230" valign="middle" class="td-division"><%= rep.phone %> <br/> <a href="mailto:<%= rep.email %>"><%= rep.email %></a></td>
	                	<td width="180" valign="middle" class="td-division">$0.00</td>
	    				<td align="center" valign="middle" class="td-division date-time">
	    					<ul>
								<li><a href="#">Edit</a></li>
								<li><a class="md-trigger" data-modal="modal-2" href="#">Remove</a></li>
							</ul>
	    				</td>
  					</tr>
					<tr style="border-bottom:1px solid rgba(41,178,123, 0.2);"><td colspan="6" height="11"></td></tr> 

				<% end %>
				</table>	
			</div>
	</div>
</div>

<script type="text/javascript">
	$('#modal').on('shown.bs.modal', function () {
  	// $('#myInput').focus()
})
</script>
