
<div id="nav-container">
		<nav>
			<h1>Dashboard App</h1>
			<ul id="main-nav">
				<li><a href="/administrators">Dashboard</a></li>
				<li><a href="/profile/<%= @admin.id %>">Profile</a></li>
			</ul>
			<ul id="session-nav">
				<li><a href="/logout">Log off</a></li>
			</ul>
		</nav>
	</div>


<div class="jumbotron">
	<div class="container">
		<h2 class="salutation">Howdy, <%= @admin.first_name %>!</h2>
		<div class="mytable admins">
		<a href="/reps/new" class="btn btn-default add">Add New Rep</a>	
		<div class="clr"></div>
				<table cellspaceing="0" cellpadding="0" width="100%" border="0" align="center">
					<tr>
						<!-- <th></th> -->
						<th colspan="2">Rep Name</th>
						<th>Contact Info</th>
						<th>Actions</th>
					</tr>

				<% @reps.each do |rep|%>
					<!-- Follow this sample row below for displaying each Reps' clients -->
					<tr><td colspan="4" height="10"></td></tr> 
					<tr style="border-top:1px solid rgba(41,178,123, 0.2);"><td colspan="4" height="11"></td></tr> <!-- Make sure this empty row is included -->
					<tr>
	                	<td width="40" valign="middle"><img src="<%=rep.image%>" alt="<%=rep.first_name%>'s_image" height="35px" width="35px" id="image"></td>
						<td width="245" valign="middle" class="td-division"><a href="/reps/<%= rep.id %>/show"><%= rep.first_name %></a></td>
	                	<td width="280" valign="middle" class="td-division"><a href="tel:<%=rep.phone%>"><%= rep.phone %></a> <a href="mailto:<%= rep.email %>"><%= rep.email %></a></td>
	    				<td align="center" valign="middle" class="td-division date-time">
	    					<ul>
								<li><a href="/reps/<%=rep.id%>/edit">Edit</a></li>
								<li>
									<form action="/reps/<%=rep.id%>" method="POST">
										<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
										<input type="hidden" name="_method" value="DELETE">
										<button class="btn btn-link">Remove</button>
									</form>
								</li>
							</ul>
	    				</td>
  					</tr>
					<tr style="border-bottom:1px solid rgba(41,178,123, 0.2);"><td colspan="4" height="11"></td></tr> 

				<% end %>
				</table>	
			</div>
	</div>
</div>

<script type="text/javascript">
	$('#modal').on('shown.bs.modal', function () {
  	// $('#myInput').focus()
})
</script>
