<!DOCTYPE html>
<html>
  <head>
    <title>Advertising</title>
    <%= csrf_meta_tags %>
  
    <%= stylesheet_link_tag 'application', 'demo', 'normalize', 'tabs', 'tabstyles', 'main',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'modernizr.custom.js', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  <div class="footer-wrapper">
    <div class="footer">
      <div class="row col-lg-4">
        <h2>Our Offices</h2>
        <p>
          Coding Dojo Project Team <br>
          175 E. Olive St. <br>
          Burbank, CA 91502<br>
          <a href="tel:13231231220">(323)123-1220</a>
        </p>
      </div>
      <div class="row col-lg-4">
        <h2>Stay In Touch</h2>
        <h2>
          <a href="http://www.facebook.com" class="social_links"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="http://www.instagram.com" class="social_links"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="http://www.github.com" class="social_links"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="http://www.snapchat.com" class="social_links"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
          <a href="http://www.linkedin.com" class="social_links"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </h2>
      </div>
      <div class="row col-lg-4">
        <h2>Contact Us</h2>
        <form action="mailto:example@example.com" method="post" id="contact_form" enctype="text/plain">
          <input type="text" placeholder="Name" name="name" class="form-control">
          <input type="text" placeholder="Email" name="email" class="form-control">
          <textarea id="contact_textarea" name="comment" id="" cols="19" rows="5" placeholder="Comment" class="form-control"></textarea>
          <input type="submit" id="contact_button" class="btn btn-lg btn-primary btn-block submit-button">
        </form>
      </div>
      <div class="clr"></div>
    </div>
  </div>
    <%= javascript_include_tag 'cbpFWTabs.js', 'data-turbolinks-track': 'reload' %>

    <script>
    var pageHeight = $(window).height();
    $("#map").css("height", pageHeight-100);

      (function() {
        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });
      })();
    </script>
  </body>
</html>
